header
{
  width: 100%;
}
header a{
  text-decoration: none;
  color: black;
}
header ul{
  list-style: none;
}
.title
{
  font-size: 36px;
}
table {
  border: 1px solid grey;
  border-collapse: collapse;
}
td {
  border: 1px solid grey;
}
tbody tr:nth-child(odd)
{
    background: #D8BFD8;
}
tbody tr:nth-child(even)
{
    background: #E6E6FA;
}
.main
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form
{
  text-align: center;
  padding-bottom:30px ;
}
#a1
{
  text-align: center;
}
footer{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  margin: -10px;
  background-color: #D8BFD8;
  color: #000;
} 
@media screen and (min-width:360px){
  .logo
  {
    display: flex;
    justify-content: flex-start;
  }
  .title
  {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
  }
  .shapka li
  {
    margin-left: -40px;
  }
  .spisok ul
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .spisok ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .spisok ul{
    list-style-position: inside;
  }
  .spisok ol{
    list-style-position: inside;
  }
  table 
  {
    order:-1;
    width: 50%;
  }
}
@media screen and (min-width:768px) {
  .logo
  {
    display: flex;
    justify-content: flex-start;
  }
  .title
  {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
  }
  .shapka
  {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    padding: 5px;
  }
  .shapka li
  {
    display: inline;
    margin-left: 5px;
  }
  .main ul
  {
    width: 960px;
  }
  .spisok ul
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  table 
  {
    order:0;
    width: 960px;
  }

}
